DATABASE_URL=postgresql://user:password@host:port/dbname
SECRET_KEY=your-secret-key-here
ACCESS_TOKEN_EXPIRE_MINUTES=15
ALGORITHM=HS256
RESEND_EMAIL_API_KEY=your-resend-api-key

CORS_ORIGINS=http://localhost:5173,http://localhost:8080,https://trenden.netlify.app